{% extends "base.html" %}

     {% block body %}

    <div class="container h-100 d-flex justify-content-center col-md-10" style="margin-top: 50px">
      <form method="post" action="/result" style="width: 75%;">
        <p class="mb-0">Describe your advantages and expectations for the major (Required*) </p>
        <input type="text" name="description" value="I like reading naval and like writing stories and articles." required style="width:  100%;">

        <p class="mb-0">Minimum Expected Annual Salary After College Graduation(Optional)</p>
        <input type="number" name="income" min="5000" placeholder="eg, 50000">
        <p class="mb-0 mt-2">Please select at most one preferred category(Optional)</p>
        <select class="custom-select" id="category" name="category">
        <option value="" selected>Choose...</option>
          {%  if categories %}
            {% for category in categories %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          {% endif %}
        </select>

        <button type="submit" class="btn btn-primary mt-2">GET RECOMMENDED MAJORS</button>
      </form>
      </div>
{% endblock %}